@charset "UTF-8";
/* CSS Document */
/*обнуляющий стиль*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*------------------------------------------------------------------------*/
body {
  background-color: black;
  color: white;
  font-weight: 900;
}

h1,
h2 {
  font-size: 30px;
  margin: 20px 0;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.content {
  padding: 30px 3%;
}

.grid {
  font-size: 30px;
  position: relative;
  margin: 0 0 40px 0;
}

.grid-body {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[2];
  -ms-grid-columns: (1fr)[3];
      grid-template: repeat(2, 1fr)/repeat(3, 1fr);
}

.grid-item {
  text-align: center;
  border: 2px dashed lightcoral;
  padding: 30px;
}

/*размещение элементов с помощью линий сетки*/
.grid-1 {
  font-size: 30px;
  position: relative;
  margin: 0 0 40px 0;
}

.grid-body-1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: [start] 1fr [row2] 1fr [row-end];
      grid-template-rows: [start] 1fr [row2] 1fr [row-end];
  -ms-grid-columns: [start] 1fr [col2] 1fr [col3] 1fr [col-end];
      grid-template-columns: [start] 1fr [col2] 1fr [col3] 1fr [col-end];
}

.grid-item_1,
.grid-item_2,
.grid-item_3,
.grid-item_4,
.grid-item_5,
.grid-item_6 {
  text-align: center;
  border: 2px dashed lightcoral;
  padding: 30px;
}

.grid-item_1 {
  /*grid-row: 1/3;
   grid-column: 1/3;*/
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5;
  background-color: lightcoral;
}

.grid-item_2 {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}

.grid-item_3 {
  -webkit-box-ordinal-group: 7;
      -ms-flex-order: 6;
          order: 6;
}

.grid-item_4 {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.grid-item_5 {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.grid-item_6 {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

/*Grid layout- элементы сетки*/
.grid-2 {
  font-size: 30px;
  position: relative;
  margin: 0 0 40px 0;
}

.grid-body-2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: [start] 150px [row2] 150px [row-end];
      grid-template-rows: [start] 150px [row2] 150px [row-end];
  -ms-grid-columns: [start] 1fr [col2] 1fr [col3] 1fr [col-end];
      grid-template-columns: [start] 1fr [col2] 1fr [col3] 1fr [col-end];
  row-gap: 20px;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  /*   justify-items: start; //горизонтальное выравнивание
   align-items: end; // вертикальное выравнивание */
}

.grid2-item_1,
.grid2-item_2,
.grid2-item_3,
.grid2-item_4,
.grid2-item_5,
.grid2-item_6 {
  border: 2px dashed lightcoral;
  text-align: center;
  padding: 30px;
}

.grid2-item_1 {
  /* margin: auto; //располгаем наш элемент по центру ячейки */
}
