@charset "UTF-8";
/* CSS Document */
/*обнуляющий стиль*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*------------------------------------------------------------------------*/
body {
  max-width: 1200px;
  margin: 0 auto;
}

.grid {
  position: relative;
}

.grid-body {
  display: grid;
  grid-template: repeat(2, 1fr)/repeat(3, 1fr);
  /* grid-template-columns: repeat(3, 1fr); //можно указывать в процентнах или комбинировать с px
  grid-template-rows: repeat (2fr, 1fr); //для grid layout сущ-т своя ед-ца изм-я наз-ся fr */
  padding: 30px;
  font-size: 30px;
}

.grid-item {
  text-align: center;
  border: 2px dashed lightcoral;
}

/*имена областей*/
.grid-wrapper {
  display: grid;
  grid-template: [start] "header header" 100px [row2] [row2] "side content" 1fr [row-end]/150px 1fr;
  /*  grid-template-columns: 150px 1fr;   //длинная запись
  grid-template-rows: 100px 1fr;
  grid-template-areas:
     "header header"
     "side content";*/
}

.grid-header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: header;
}

.grid-side {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: side;
}

.grid-header,
.grid-side,
.grid-content {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: content;
  padding: 30px;
  border: 2px dashed lightcoral;
  margin: 0 0 15px 0;
  font-size: 30px;
}

/*неявная сетка*/
.none-wrapper {
  display: grid;
  grid-template: 1fr 1fr/repeat(3, 1fr);
  grid-auto-rows: 200px;
  grid-auto-columns: 300px;
}

.none-grid {
  text-align: center;
  border: 2px dashed lightcoral;
  padding: 30px;
  font-size: 30px;
}

/*автоматическое размещение*/
.grid-masonrybody {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 200px;
  grid-auto-flow: dense;
}

.masonry-item_5,
.masonry-item {
  text-align: center;
  border: 2px dashed lightcoral;
  font-size: 30px;
}

.masonry-item_5 {
  grid-column: span 2;
  grid-row: span 2;
}